<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>Hotels Of World</h1>
        <hr>
<table>

    <thead>
        <td>id</td>
        <td>name</td>
        <td>rating</td>
    </thead>
    <tbody>
    <tr th:each="h : ${hotel}">
        <td th:text="${h.getId()}"></td>
        <td th:text="${h.getName()}"></td>
        <td th:text="${h.getClassification()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>